@font-face {
    font-family: GeneralSans;
    src: url(./assets/fonts/63fd93c92039220238a118fe_GeneralSans-Regular.woff) format(woff);
}

@font-face {
    font-family: Row4;
    src: url(./assets/fonts/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2) format(woff2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin para{
    color: rgba(44, 44, 44, 0.614);
    font-size: 1.1rem;
    font-family: row4;  
    padding: 1rem 0; 
}

@mixin imageProperty{
    width: 100%;
    aspect-ratio: 1/1;
    
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

@mixin spacing{
        padding: 1rem 1.5rem;
}

body,
html {
    height: 100%;
    width: 100%;
}


main {
    width: 100%;

    hr{
        margin: 3rem 0;
    }

    nav {
        @include spacing;

        .nav-logo {
            padding: 0.5rem 0;
            width: 100%;
            aspect-ratio: 1/0.09;
            display: flex;
            align-items: center;

            img {
                height: 100%;
            }

        }
        .navbar{
            display: none;
        }
    }

    .view-1 {
        @include spacing;
        width: 100%;
        text-align: left;

        .view-1-a {
            @include imageProperty;
            aspect-ratio: 1.1/0.12; 
            margin: 1.5rem 0;
        }

        .view-1-b {
            margin-top: 0.25rem;
            display: flex;
            justify-content: space-between;

            p {
                font-family: monospace;
                text-transform: uppercase;
                font-size: 0.95rem;
            }
        }


    }

    .view-2{
        @include spacing; 
        width: 100%; 

        .view-2-heroimg{ 
            width: 100%;
            aspect-ratio: 1/1;
            
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            
        }

        .view-2-container{
            
            h1{
                line-height: 1;
                font-family: GeneralSans;
                text-transform: uppercase;
                font-weight: 200;
                font-size: 2.6rem;
                margin: 1.5rem 0; 
            }

            p{
                color: rgb(44, 44, 44);
               
                font-size: 1.2rem;
                font-family: row4;
            }

            .view-2-elem-a{
                padding-top: 2rem;

                .view-2-elem{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    p{ 
                        font-family: GeneralSans ;
                        font-size: 1.7rem;
                        font-weight: 500;
                    }
                    }
                    hr{
                        margin: 1rem 0;
                    }
            }
        }
    }

    .view-3{
        @include spacing; 
        width: 100%; 

        .view-3-heroimg{ 
            @include imageProperty;
        }

        
        .view-3-container{ 
            padding: 2rem 0;
            display: flex; 
            gap: 2rem;

            h3{
                writing-mode: vertical-lr;
                font-family: GeneralSans;
                text-transform: uppercase;
                word-spacing: 0.5rem;
                font-size: 0.75rem;
            }
            .view-3-elem{
                h1{
                    font-family: GeneralSans;
                    font-size: 2.8rem;
                    font-weight: 300;
                    line-height: 1;
                }

                p{
                    @include para;
                }
            }
        }

    }

    .view-4{
        @include spacing;
        .view-4-container{
            h1{
                font-family:GeneralSans ;
                text-transform: uppercase;
                font-size: 2.8rem;
                font-weight: 100;
            }

            .view-4-container-a{
                padding: 1rem 0;

                .view-4-elem{

                    hr{
                        margin: 1rem 0;
                        opacity: 0.5;
                    }

                    h1{
                        font-size: 1.5rem;
                    }
                    p{
                        @include para;
                    }

                    .view-4-elem-a{
                        h2{
                            font-family:GeneralSans ;
                            font-weight: 100;
                            text-transform: uppercase;
                            font-size: 0.85rem;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
        .view-4-heroimg{ 
            @include imageProperty;
        }
    }

    .view-5{ 
        padding: 0 1.5rem;
        width: 100%;

        .view-5-heading{ 
            width: 100%;  
            aspect-ratio: 1/0.1;
            
            img{ 
                width: 100%;
                object-fit: cover;
            }


        }

        .view-5-container{
             @mixin view5elem{
                    .view-5-elem{
                        padding: 2rem 0;
                        img{
                            @include imageProperty; 
                        }
                        .view-5-img{
                            display: none
                        }
    
                        .view-5-elem-a{
                            padding: 1.5rem 0;
    
                            h2{
                                font-size: 2.5rem;
                                text-transform: uppercase;
                                font-weight: 100;
                                font-family: GeneralSans;
                            }
                            p{
                                @include para; 
                                color: rgb(30, 30, 30)
                            }
                            .view-5-elem-b{
                                text-transform: uppercase;
                                font-weight: 100;
                                font-family: row4;
                                font-size: 0.8rem;
                                opacity: 95%;
                                letter-spacing: 1px
                            }
                        }
                    }
                }

            .view-5-container-a{ 
                @include view5elem;
            }
            .view-5-container-b{
               @include view5elem;
            }
        }

    }

    .view-6{  
        padding: 0 1.5rem;
        margin-bottom: 5rem;
        width: 100%;

        .view-6-heading{  
            padding: 1rem 0;
            width: 100%;  
            aspect-ratio: 1/0.1;
            
            img{  
                width: 100%;
                object-fit: cover;
            }


        }

        .view-6-container{  
            padding: 1rem 0;

            .view-6-elem{
                h4{
                    font-family: row4;
                    font-weight: 100;
                }
                h1{
                    padding: 0.5rem 0;
                    font-family: GeneralSans;
                    font-size: 1.75rem;
                    font-weight: 100;
                    text-transform: uppercase;
                    color: rgb(19, 19, 19);
                }
                h3{
                    font-family: GeneralSans;
                    text-transform: uppercase;
                    font-size: 0.85rem;
                    opacity: 80%;
                }
            }
            hr{
                margin: 1.5rem 0;
            }
        }


}

    .view-7{
        @include spacing;

        .view-7-heading{
            h1{
                font-size: 3rem;
                font-family: GeneralSans;
                font-weight: 100;
                text-transform: uppercase;
            }
            p{
                @include para;
                color: #111111;
            }
        }

        .view-7-container{
            padding: 2rem 0;

            .view-7-elem{
                h2{
                    font-size: 1.5rem;
                    font-family: GeneralSans;
                    font-weight: 100;
                    text-transform: uppercase;
                }

                .view-7-img{
                    @include imageProperty;
                    aspect-ratio: 1/1.35;
                    margin: 1rem 0;
                }
                .view-7-elem-a{
                    display: flex;
                    justify-content: space-between;
                    h3{
                        font-size: 0.85rem;
                        font-family: row4;
                        font-weight: 100;
                        text-transform: uppercase;
                    }
                }
                p{
                    @include para; 
                    line-height: 1.5;
                }
            }
        }
    }

    .view-8{
        .view-8-container{
            @include spacing;

            @mixin boldi{
                font-family: row4;
                font-size: 0.9rem;
                font-weight: 100;
                text-transform: uppercase;
            }

            hr{
                margin: 1rem 0;
            }
            h2{
                @include boldi;
            }

            h1{
                padding: 1.5rem 0;
                font-size: 2.25rem;
                font-family:GeneralSans ;
                font-weight: 100;
                text-transform: uppercase;
            }
            p{
                @include boldi;
                font-size: 0.8rem;
            }
        }
    }

    
    footer{
        background-color: #111111;
        color: whitesmoke;
        padding: 4.5rem 2rem;
        margin-top: 3rem;
        .container{
                text-align: center;
            .tag{  
                width: 100%;  
                aspect-ratio: 1/0.1;
                
                img{  
                    width: 100%;
                    object-fit: cover;
                }
            }

            h1{
                padding: 1rem 0;
                font-family:GeneralSans ;
                font-weight: 100;
                font-size: 2.25rem;
                text-transform: uppercase;
                line-height: 1.25;
            }
            p{
                color:#111111;
                font-family: row4;
                text-transform: uppercase;
                background-color: whitesmoke;
                width: 50%;
                padding: 0.5rem 0;
                margin: 1rem;
                border-radius: 25px;
            }

            h4{
                font-family: GeneralSans; 
                font-weight: 100;
                font-size: 0.7rem;
                letter-spacing: 1px;
            }
        }
    }

}


@media (min-width:1024px) {

    @mixin basicViewProperty{
        display: flex; 
        gap: 3rem; 
    }

    @mixin spacid{
        padding: 2rem 4rem;
    }

    main { 

        nav {  
            @include spacid;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .nav-logo{
                width: 35%;
                aspect-ratio: 1/0.09;
            }
            .navbar{
                width: 65%;
                display: flex;
                align-items: center;
                justify-content: space-between; 
                font-family: Row4;

                .navbar-1{
                    display: flex;
                    align-items: center;
                    gap: 2rem;     
                    
                    a{
                        text-transform: uppercase;
                        font-size: 0.85rem;
                    }
                }
                .navbar-2{
                    display: flex;
                    align-items: center;
                    gap: 2rem; 
                    text-transform: uppercase;

                    h2{
                        font-size: 0.85rem;
                        font-weight: 100;
                        background-color: rgb(30, 30, 30);
                        color: white;
                        padding: 0.5rem 1.25rem;
                        border-radius: 25px;
                    }

                }
            }
        }

        .view-1{ 
            @include spacid;
            .view-1-a{
                h1{
                    font-size: 8rem;
                    margin-left: -0.65rem;
                }
            }
            .view-1-b{
                margin-top: -1rem;
            }
        }

        .view-2{
            @include spacid;
            display: flex;
            flex-direction: row-reverse;

            .view-2-heroimg{
                width: 50%;
            }   

            .view-2-container{
                width: 50%;

                h1{
                    font-size: 3.2rem;
                }


                p{
                    font-size: 1.3rem;
                }

                .view-2-elem-a{
                    .view-2-elem{
                        width: 90%;

                        p{
                            font-family: 0.5rem;
                        }
                    }
                    hr{
                        width: 90%;
                    }
                }
            }
        }

        .view-3{
            @include basicViewProperty;
            @include spacid;

            .view-3-heroimg{ 
                aspect-ratio: 1/2.25;
                width: 25%;
            }
            .view-3-container{ 
                width: 75%;
                flex-direction: row-reverse;

                .view-3-elem{
                    display: flex;
                    flex-direction: column;
                    height: 100%; 
                    h1{
                        font-size: 4.5rem;
                    }

                    p{
                        margin-top: auto;
                    }
                }
            }
        }

        .view-4{
            @include spacid;
            @include basicViewProperty;

            .view-4-heroimg{ 
                aspect-ratio: 1/1.6;
                width: 50%; 
            }
            .view-4-container{
                width: 45%;
                h1{
                    padding: 1rem 0;
                    font-size: 4.5rem;
                    line-height: 1;
                }

                .view-4-container-a{  
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 1rem;

                    .view-4-elem{
                        width: 43%;
                        h1{
                            font-size: 1.25rem; 
                        }
                        p{
                            font-size: 0.95rem;
                        }

                        .view-4-elem-a{
                            h2{
                                font-size: 0.75rem;
                            }
                        }
                    }
                }


            }

        }

        .view-5{ 
            @include spacid;
            .view-5-container{
                .view-5-container-a{
                    .view-5-elem{
                        @include basicViewProperty;

                    img{
                        aspect-ratio: 1/1;
                        width: 33%;
                    }
                    .view-5-img{
                        display: block;
                    }

                    }
                }
                .view-5-container-b{
                    .view-5-elem{
                        @include basicViewProperty;
                        flex-direction: row-reverse;

                    img{
                        aspect-ratio: 1/1;
                        width: 33%;
                    }
                    .view-5-img{
                        display: block;
                    }

                    }
                }
            }
        }

        .view-6{  
            @include spacid;
            .view-6-heading{ 
                display: flex; 
                justify-self:flex-end ;
                aspect-ratio: 1/0.28;
                width: 40%;
            }

            .view-6-container{
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                justify-self: flex-end;
                width: 70%;
                 
                .view-6-elem{
                display: flex;
                align-items: center;
                h4{
                    width: 15%;
                }
                h1{
                    width: 65%;

                }h3{
                    width: 20%;
                    text-align: end;
                }

                }
            }

        }

        .view-7{
           padding: 0 4rem;
            .view-7-heading{
                display: flex;
                justify-content: space-between;

                h1{
                    width: 20%;
                    font-size: 5rem;
                }

                p{
                    width: 45%;
                }
            }
            .view-7-container{ 
                padding:4rem 0 ;
                display: flex;
                gap: 3rem;

                .view-7-elem{
                    h2{
                        font-size: 1.15rem;
                    }
                    p{
                        font-size: 1rem;
                    }
                }
            }
        }

        .view-8{  
            .view-8-container{ 
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-self: flex-end;

                h1{
                    font-size: 3rem;
                    line-height: 1.15;
                }
            }
        }

        footer{
            margin-top: 5rem;
            .container{
                
                @include spacid;
                @include basicViewProperty;
                flex-direction: column;
                align-items: center;

                p{
                    width: fit-content;
                    padding: 1rem 2rem;
                }

                hr{
                    width: 100%;

                }
            }
        }


        
    }
}

@media (min-width:1440px) {
    main{
        .view-2{
            .view-2-container{
                h1{
                    font-size: 5rem;
                }
            }
        }

        .view-3{
            .view-3-heroimg{
                aspect-ratio: 1/1.5;
                    width: 30%;
                }
            .view-3-container{
                .view-3-elem{
                    h1{
                        font-size: 7rem;
                    }
                }
            }
        }

        .view-4{
            .view-4-heroimg{
                aspect-ratio: 1/1.2;
            }
            .view-4-container{
                h1{
                    font-size: 7rem;
                }
            }
        }

        .view-6{
            .view-6-heading{

                aspect-ratio: 1/0.245;
            }
        }

        
        .view-7{
            .view-7-heading{
                h1{
                    font-size: 7rem; 
                }
            }
        }

        .view-8{
            .view-8-container{
                h1{
                    font-size: 4.5rem;
                }
            }
        }
    }
}