@font-face {
  font-family: GeneralSans;
  src: url(./assets/fonts/63fd93c92039220238a118fe_GeneralSans-Regular.woff) format(woff);
}
@font-face {
  font-family: Row4;
  src: url(./assets/fonts/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2) format(woff2);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
}
main hr {
  margin: 3rem 0;
}
main nav {
  padding: 1rem 1.5rem;
}
main nav .nav-logo {
  padding: 0.5rem 0;
  width: 100%;
  aspect-ratio: 1/0.09;
  display: flex;
  align-items: center;
}
main nav .nav-logo img {
  height: 100%;
}
main nav .navbar {
  display: none;
}
main .view-1 {
  padding: 1rem 1.5rem;
  width: 100%;
  text-align: left;
}
main .view-1 .view-1-a {
  width: 100%;
  aspect-ratio: 1/1;
  aspect-ratio: 1.1/0.12;
  margin: 1.5rem 0;
}
main .view-1 .view-1-a img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .view-1 .view-1-b {
  margin-top: 0.25rem;
  display: flex;
  justify-content: space-between;
}
main .view-1 .view-1-b p {
  font-family: monospace;
  text-transform: uppercase;
  font-size: 0.95rem;
}
main .view-2 {
  padding: 1rem 1.5rem;
  width: 100%;
}
main .view-2 .view-2-heroimg {
  width: 100%;
  aspect-ratio: 1/1;
}
main .view-2 .view-2-heroimg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .view-2 .view-2-container h1 {
  line-height: 1;
  font-family: GeneralSans;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2.6rem;
  margin: 1.5rem 0;
}
main .view-2 .view-2-container p {
  color: rgb(44, 44, 44);
  font-size: 1.2rem;
  font-family: row4;
}
main .view-2 .view-2-container .view-2-elem-a {
  padding-top: 2rem;
}
main .view-2 .view-2-container .view-2-elem-a .view-2-elem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .view-2 .view-2-container .view-2-elem-a .view-2-elem p {
  font-family: GeneralSans;
  font-size: 1.7rem;
  font-weight: 500;
}
main .view-2 .view-2-container .view-2-elem-a hr {
  margin: 1rem 0;
}
main .view-3 {
  padding: 1rem 1.5rem;
  width: 100%;
}
main .view-3 .view-3-heroimg {
  width: 100%;
  aspect-ratio: 1/1;
}
main .view-3 .view-3-heroimg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .view-3 .view-3-container {
  padding: 2rem 0;
  display: flex;
  gap: 2rem;
}
main .view-3 .view-3-container h3 {
  writing-mode: vertical-lr;
  font-family: GeneralSans;
  text-transform: uppercase;
  word-spacing: 0.5rem;
  font-size: 0.75rem;
}
main .view-3 .view-3-container .view-3-elem h1 {
  font-family: GeneralSans;
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 1;
}
main .view-3 .view-3-container .view-3-elem p {
  color: rgba(44, 44, 44, 0.614);
  font-size: 1.1rem;
  font-family: row4;
  padding: 1rem 0;
}
main .view-4 {
  padding: 1rem 1.5rem;
}
main .view-4 .view-4-container h1 {
  font-family: GeneralSans;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 100;
}
main .view-4 .view-4-container .view-4-container-a {
  padding: 1rem 0;
}
main .view-4 .view-4-container .view-4-container-a .view-4-elem hr {
  margin: 1rem 0;
  opacity: 0.5;
}
main .view-4 .view-4-container .view-4-container-a .view-4-elem h1 {
  font-size: 1.5rem;
}
main .view-4 .view-4-container .view-4-container-a .view-4-elem p {
  color: rgba(44, 44, 44, 0.614);
  font-size: 1.1rem;
  font-family: row4;
  padding: 1rem 0;
}
main .view-4 .view-4-container .view-4-container-a .view-4-elem .view-4-elem-a h2 {
  font-family: GeneralSans;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 1px;
}
main .view-4 .view-4-heroimg {
  width: 100%;
  aspect-ratio: 1/1;
}
main .view-4 .view-4-heroimg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .view-5 {
  padding: 0 1.5rem;
  width: 100%;
}
main .view-5 .view-5-heading {
  width: 100%;
  aspect-ratio: 1/0.1;
}
main .view-5 .view-5-heading img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .view-5 .view-5-container .view-5-container-a .view-5-elem {
  padding: 2rem 0;
}
main .view-5 .view-5-container .view-5-container-a .view-5-elem img {
  width: 100%;
  aspect-ratio: 1/1;
}
main .view-5 .view-5-container .view-5-container-a .view-5-elem img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .view-5 .view-5-container .view-5-container-a .view-5-elem .view-5-img {
  display: none;
}
main .view-5 .view-5-container .view-5-container-a .view-5-elem .view-5-elem-a {
  padding: 1.5rem 0;
}
main .view-5 .view-5-container .view-5-container-a .view-5-elem .view-5-elem-a h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 100;
  font-family: GeneralSans;
}
main .view-5 .view-5-container .view-5-container-a .view-5-elem .view-5-elem-a p {
  color: rgba(44, 44, 44, 0.614);
  font-size: 1.1rem;
  font-family: row4;
  padding: 1rem 0;
  color: rgb(30, 30, 30);
}
main .view-5 .view-5-container .view-5-container-a .view-5-elem .view-5-elem-a .view-5-elem-b {
  text-transform: uppercase;
  font-weight: 100;
  font-family: row4;
  font-size: 0.8rem;
  opacity: 95%;
  letter-spacing: 1px;
}
main .view-5 .view-5-container .view-5-container-b .view-5-elem {
  padding: 2rem 0;
}
main .view-5 .view-5-container .view-5-container-b .view-5-elem img {
  width: 100%;
  aspect-ratio: 1/1;
}
main .view-5 .view-5-container .view-5-container-b .view-5-elem img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .view-5 .view-5-container .view-5-container-b .view-5-elem .view-5-img {
  display: none;
}
main .view-5 .view-5-container .view-5-container-b .view-5-elem .view-5-elem-a {
  padding: 1.5rem 0;
}
main .view-5 .view-5-container .view-5-container-b .view-5-elem .view-5-elem-a h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 100;
  font-family: GeneralSans;
}
main .view-5 .view-5-container .view-5-container-b .view-5-elem .view-5-elem-a p {
  color: rgba(44, 44, 44, 0.614);
  font-size: 1.1rem;
  font-family: row4;
  padding: 1rem 0;
  color: rgb(30, 30, 30);
}
main .view-5 .view-5-container .view-5-container-b .view-5-elem .view-5-elem-a .view-5-elem-b {
  text-transform: uppercase;
  font-weight: 100;
  font-family: row4;
  font-size: 0.8rem;
  opacity: 95%;
  letter-spacing: 1px;
}
main .view-6 {
  padding: 0 1.5rem;
  margin-bottom: 5rem;
  width: 100%;
}
main .view-6 .view-6-heading {
  padding: 1rem 0;
  width: 100%;
  aspect-ratio: 1/0.1;
}
main .view-6 .view-6-heading img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .view-6 .view-6-container {
  padding: 1rem 0;
}
main .view-6 .view-6-container .view-6-elem h4 {
  font-family: row4;
  font-weight: 100;
}
main .view-6 .view-6-container .view-6-elem h1 {
  padding: 0.5rem 0;
  font-family: GeneralSans;
  font-size: 1.75rem;
  font-weight: 100;
  text-transform: uppercase;
  color: rgb(19, 19, 19);
}
main .view-6 .view-6-container .view-6-elem h3 {
  font-family: GeneralSans;
  text-transform: uppercase;
  font-size: 0.85rem;
  opacity: 80%;
}
main .view-6 .view-6-container hr {
  margin: 1.5rem 0;
}
main .view-7 {
  padding: 1rem 1.5rem;
}
main .view-7 .view-7-heading h1 {
  font-size: 3rem;
  font-family: GeneralSans;
  font-weight: 100;
  text-transform: uppercase;
}
main .view-7 .view-7-heading p {
  color: rgba(44, 44, 44, 0.614);
  font-size: 1.1rem;
  font-family: row4;
  padding: 1rem 0;
  color: #111111;
}
main .view-7 .view-7-container {
  padding: 2rem 0;
}
main .view-7 .view-7-container .view-7-elem h2 {
  font-size: 1.5rem;
  font-family: GeneralSans;
  font-weight: 100;
  text-transform: uppercase;
}
main .view-7 .view-7-container .view-7-elem .view-7-img {
  width: 100%;
  aspect-ratio: 1/1;
  aspect-ratio: 1/1.35;
  margin: 1rem 0;
}
main .view-7 .view-7-container .view-7-elem .view-7-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .view-7 .view-7-container .view-7-elem .view-7-elem-a {
  display: flex;
  justify-content: space-between;
}
main .view-7 .view-7-container .view-7-elem .view-7-elem-a h3 {
  font-size: 0.85rem;
  font-family: row4;
  font-weight: 100;
  text-transform: uppercase;
}
main .view-7 .view-7-container .view-7-elem p {
  color: rgba(44, 44, 44, 0.614);
  font-size: 1.1rem;
  font-family: row4;
  padding: 1rem 0;
  line-height: 1.5;
}
main .view-8 .view-8-container {
  padding: 1rem 1.5rem;
}
main .view-8 .view-8-container hr {
  margin: 1rem 0;
}
main .view-8 .view-8-container h2 {
  font-family: row4;
  font-size: 0.9rem;
  font-weight: 100;
  text-transform: uppercase;
}
main .view-8 .view-8-container h1 {
  padding: 1.5rem 0;
  font-size: 2.25rem;
  font-family: GeneralSans;
  font-weight: 100;
  text-transform: uppercase;
}
main .view-8 .view-8-container p {
  font-family: row4;
  font-size: 0.9rem;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 0.8rem;
}
main footer {
  background-color: #111111;
  color: whitesmoke;
  padding: 4.5rem 2rem;
  margin-top: 3rem;
}
main footer .container {
  text-align: center;
}
main footer .container .tag {
  width: 100%;
  aspect-ratio: 1/0.1;
}
main footer .container .tag img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main footer .container h1 {
  padding: 1rem 0;
  font-family: GeneralSans;
  font-weight: 100;
  font-size: 2.25rem;
  text-transform: uppercase;
  line-height: 1.25;
}
main footer .container p {
  color: #111111;
  font-family: row4;
  text-transform: uppercase;
  background-color: whitesmoke;
  width: 50%;
  padding: 0.5rem 0;
  margin: 1rem;
  border-radius: 25px;
}
main footer .container h4 {
  font-family: GeneralSans;
  font-weight: 100;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

@media (min-width: 1024px) {
  main nav {
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main nav .nav-logo {
    width: 35%;
    aspect-ratio: 1/0.09;
  }
  main nav .navbar {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Row4;
  }
  main nav .navbar .navbar-1 {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  main nav .navbar .navbar-1 a {
    text-transform: uppercase;
    font-size: 0.85rem;
  }
  main nav .navbar .navbar-2 {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-transform: uppercase;
  }
  main nav .navbar .navbar-2 h2 {
    font-size: 0.85rem;
    font-weight: 100;
    background-color: rgb(30, 30, 30);
    color: white;
    padding: 0.5rem 1.25rem;
    border-radius: 25px;
  }
  main .view-1 {
    padding: 2rem 4rem;
  }
  main .view-1 .view-1-a h1 {
    font-size: 8rem;
    margin-left: -0.65rem;
  }
  main .view-1 .view-1-b {
    margin-top: -1rem;
  }
  main .view-2 {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row-reverse;
  }
  main .view-2 .view-2-heroimg {
    width: 50%;
  }
  main .view-2 .view-2-container {
    width: 50%;
  }
  main .view-2 .view-2-container h1 {
    font-size: 3.2rem;
  }
  main .view-2 .view-2-container p {
    font-size: 1.3rem;
  }
  main .view-2 .view-2-container .view-2-elem-a .view-2-elem {
    width: 90%;
  }
  main .view-2 .view-2-container .view-2-elem-a .view-2-elem p {
    font-family: 0.5rem;
  }
  main .view-2 .view-2-container .view-2-elem-a hr {
    width: 90%;
  }
  main .view-3 {
    display: flex;
    gap: 3rem;
    padding: 2rem 4rem;
  }
  main .view-3 .view-3-heroimg {
    aspect-ratio: 1/2.25;
    width: 25%;
  }
  main .view-3 .view-3-container {
    width: 75%;
    flex-direction: row-reverse;
  }
  main .view-3 .view-3-container .view-3-elem {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  main .view-3 .view-3-container .view-3-elem h1 {
    font-size: 4.5rem;
  }
  main .view-3 .view-3-container .view-3-elem p {
    margin-top: auto;
  }
  main .view-4 {
    padding: 2rem 4rem;
    display: flex;
    gap: 3rem;
  }
  main .view-4 .view-4-heroimg {
    aspect-ratio: 1/1.6;
    width: 50%;
  }
  main .view-4 .view-4-container {
    width: 45%;
  }
  main .view-4 .view-4-container h1 {
    padding: 1rem 0;
    font-size: 4.5rem;
    line-height: 1;
  }
  main .view-4 .view-4-container .view-4-container-a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }
  main .view-4 .view-4-container .view-4-container-a .view-4-elem {
    width: 43%;
  }
  main .view-4 .view-4-container .view-4-container-a .view-4-elem h1 {
    font-size: 1.25rem;
  }
  main .view-4 .view-4-container .view-4-container-a .view-4-elem p {
    font-size: 0.95rem;
  }
  main .view-4 .view-4-container .view-4-container-a .view-4-elem .view-4-elem-a h2 {
    font-size: 0.75rem;
  }
  main .view-5 {
    padding: 2rem 4rem;
  }
  main .view-5 .view-5-container .view-5-container-a .view-5-elem {
    display: flex;
    gap: 3rem;
  }
  main .view-5 .view-5-container .view-5-container-a .view-5-elem img {
    aspect-ratio: 1/1;
    width: 33%;
  }
  main .view-5 .view-5-container .view-5-container-a .view-5-elem .view-5-img {
    display: block;
  }
  main .view-5 .view-5-container .view-5-container-b .view-5-elem {
    display: flex;
    gap: 3rem;
    flex-direction: row-reverse;
  }
  main .view-5 .view-5-container .view-5-container-b .view-5-elem img {
    aspect-ratio: 1/1;
    width: 33%;
  }
  main .view-5 .view-5-container .view-5-container-b .view-5-elem .view-5-img {
    display: block;
  }
  main .view-6 {
    padding: 2rem 4rem;
  }
  main .view-6 .view-6-heading {
    display: flex;
    justify-self: flex-end;
    aspect-ratio: 1/0.28;
    width: 40%;
  }
  main .view-6 .view-6-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    width: 70%;
  }
  main .view-6 .view-6-container .view-6-elem {
    display: flex;
    align-items: center;
  }
  main .view-6 .view-6-container .view-6-elem h4 {
    width: 15%;
  }
  main .view-6 .view-6-container .view-6-elem h1 {
    width: 65%;
  }
  main .view-6 .view-6-container .view-6-elem h3 {
    width: 20%;
    text-align: end;
  }
  main .view-7 {
    padding: 0 4rem;
  }
  main .view-7 .view-7-heading {
    display: flex;
    justify-content: space-between;
  }
  main .view-7 .view-7-heading h1 {
    width: 20%;
    font-size: 5rem;
  }
  main .view-7 .view-7-heading p {
    width: 45%;
  }
  main .view-7 .view-7-container {
    padding: 4rem 0;
    display: flex;
    gap: 3rem;
  }
  main .view-7 .view-7-container .view-7-elem h2 {
    font-size: 1.15rem;
  }
  main .view-7 .view-7-container .view-7-elem p {
    font-size: 1rem;
  }
  main .view-8 .view-8-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
  }
  main .view-8 .view-8-container h1 {
    font-size: 3rem;
    line-height: 1.15;
  }
  main footer {
    margin-top: 5rem;
  }
  main footer .container {
    padding: 2rem 4rem;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
  }
  main footer .container p {
    width: -moz-fit-content;
    width: fit-content;
    padding: 1rem 2rem;
  }
  main footer .container hr {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  main .view-2 .view-2-container h1 {
    font-size: 5rem;
  }
  main .view-3 .view-3-heroimg {
    aspect-ratio: 1/1.5;
    width: 30%;
  }
  main .view-3 .view-3-container .view-3-elem h1 {
    font-size: 7rem;
  }
  main .view-4 .view-4-heroimg {
    aspect-ratio: 1/1.2;
  }
  main .view-4 .view-4-container h1 {
    font-size: 7rem;
  }
  main .view-6 .view-6-heading {
    aspect-ratio: 1/0.245;
  }
  main .view-7 .view-7-heading h1 {
    font-size: 7rem;
  }
  main .view-8 .view-8-container h1 {
    font-size: 4.5rem;
  }
}/*# sourceMappingURL=style.css.map */